body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.episode {
    display: flex;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.episode-info {
    flex: 1;
    padding: 20px;
}

.episode-image {
    flex: 1;
    text-align: center;
    padding: 20px;
}

img {
    min-width: 100px;
	max-width: 500px;
    height: auto;
}

.episode-description {
    white-space: pre-line;
	overflow-wrap: break-word;
	max-width: 540px;
}
